.achievmentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.studentSec > p {
    margin: 24px 0 ;
}

.checkAchievments > p{

    padding: 0 10% ;
    font-size: 32px ;

}

.checkAchievments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}