/* Header */

.header_content {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 30px;
	gap: 22px;

	position: absolute;
	width: 1232px;
	height: 180px;
	left: 24px;
	top: 24px;

	border: 1px solid #000000;
	border-radius: 8px;
}

.headerMain {
	/* Group 5 */


	width: 800px;
	height: 83px;
}

.headerText {

	position: absolute;
	width: 665px;
	height: 83px;
	left: 135px;
	top: 48.5px;
	color: #505050;
}

.headerText>p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;

}

.headerText>span {
	position: absolute;
	width: 670px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
}

.headerLogo {
	position: absolute;
	width: 83px;
	height: 83px;
	left: 30px;
	top: 48.5px;

	background: url(./../logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Header end */