.footer {
    background: var(--dark);
    color: var(--gray) !important;
    border-radius: 8px;
}

.footer > .header {
    height: 20vh;
}

.footer > .header > .headerContent{
    height: 100%;
    margin: 20px 30px;
    transform: none;
}

.footer > .header >  .orgName > p {
    color: var(--gray) !important;
}

.footerItems {
    display: block;

}

.footerItems>p {
    margin: 32px 0;
    padding: 0 40px;
    font-weight: 600;

}

.footerItems>p>img {
    margin-right: 24px;
    transform: translateY(25%);
}

.footerItems>p>span {
    margin-right: 24px;
    transform: translateY(25%);
    color: var(--gray) !important;

}

.footer>hr {
    width: 94%;
    margin: auto;
}