/* About Us Page ko 3 parts me divide kiya hai maine 

ct_box1,2,3 pehle box me 1st component hai aise divided hai (ct=container) isko rename karne me easy jayega 






and meko images nhi mili toh abhi ka bina image ke dala hai, baad me color box ko images se replace karna hai */








.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.ct_box1 {
    display: flex;
    flex-direction: column;
    
    width: 95vw;
    height: 100vh;
    padding: 20px;
}

.ct_boxHead span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    /* Secondary */

    color: #F95738;

}

.ct_box1 p {
    width: auto;
    height: auto;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;

    /* dark */

    color: #5C5C5C;
}

.ct_box1 .Img1 {
    width: 100%;
    height: 50%;

    /* background: url(Dec.jpg); */
    background-color: red; 

}


.ct_box2 {
    display: flex;
    flex-direction: column;   

    width: 95vw;
    height: 100vh;

}

.ct_box2_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.ct_box2_text p{
    width: auto;
    height: auto;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;

    /* dark */

    color: #5C5C5C;
}

.ct_box2_text span {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin: 5px 0;
    /* identical to box height */


    /* Secondary */

    color: #F95738;
}

.ct_box2 .Img2 {
    width: 100%;
    height: 56%;

    /* background: url(Students3.jpg); */
    background-color: aqua;

}

.ct_box3 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ct_box3_text {
    margin-top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    /* dark */

    color: #5C5C5C;
}

.ct_box3_btn {
    display: flex;
    padding: 18px;


    /* Primary 2 */

    background: #885A89;
    border-radius: 8px;
}

.btnText {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    /* identical to box height */


    /* Grey */

    color: #DCDDDE;
}
